body {
  font-family: sans-serif;
  background: rgb(228, 233, 254);
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.carousel-Img {
  width: 32%; /* use this, or not */
  margin: auto;
}

#carouselbody {
  width: 60%; /* for example */
  margin: auto;
  padding: 50px;
}

h3 {
  color: grey;
}

.imgBody {
  display: flex;
  justify-content: space-between;
}

#container {
  background-image: url('/image/homePage1.png');
  background-repeat: no-repeat;
  background-position: right;
  margin-right: -5%;
  margin-top: 10%;
}
#illustration {
  margin-top: -10%;
  margin-right: -10%;
}
